body{
    text-align: center;
    margin: 0;
    list-style: none;
}
h1{
    /* 16px = 100% */
    /* % is dynamic sizing */
    /*1rem = 16px*/
    font-family: monospace;
    font-size: 3.625rem;
    
}
h3{
    font-family: 'Sacramento', cursive;
}
.job{
    font-family: 'Sacramento', cursive;
    font-size: 4.635rem;
   
}
.top{
    position: relative;
    background-color: #75a7bd;
    padding-top: 100px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.hello{
    font-family: 'Sacramento', cursive;
}
.bio{
    width: 25%;
    margin: auto;
}
.skill{
    padding-top: 3rem;
    padding-bottom: 1rem;
    color: #75a7bd;
}
.skill-row{
    width: 50%;
    margin: 20px auto 90px auto;
    text-align: left;
}
.skill-1-image{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.skill-2-image{
    width: 25%;
    float: right;
    margin-left: 30px;
}
li a{
    text-decoration: none;
    border: 2px solid #75a7bd;
    padding: 10px 20px;
    border-radius: 20px;
    color: black;
    position: relative;
    bottom: 1rem;
    font-size: 1.3rem;
}
li  :hover{
    text-decoration: none;
    background-color: #75a7bd;
    padding: 10px 20px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    position: relative;
    bottom: 1rem;
    font-size: 1.3rem;
    transition: 0.3s;
}
.bottom-container{
    background-color: #a0adb3;
    padding: 30px 0 5px; 
}
